<mat-grid-list cols="4">
  <mat-grid-tile>

    <mat-card class="board full">
      <mat-card-title>Simple

        <button mat-icon-button (click)="renameBoard()">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteBoard()">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-title>
      <mat-card-content>

        <app-task></app-task>

      </mat-card-content>
      <mat-card-footer>

        <button mat-raised-button class="full" color="primary" (click)="showForm()">Add new task</button>

      </mat-card-footer>
    </mat-card>

  </mat-grid-tile>


  <mat-grid-tile>

    <button mat-raised-button class="full" color="primary" (click)="addNewBoard()">Add new board</button>

  </mat-grid-tile>
</mat-grid-list>