<mat-grid-list cols="4">
  <mat-grid-tile *ngFor="let board of boards">

    <mat-card class="board full">
      <mat-card-title>{{board.title}}

        <button mat-icon-button (click)="renameBoard(board)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteBoard(board)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-title>
      <mat-card-content>

        <app-task [tasks]="board.tasks" [boardId]="board.id"></app-task>

      </mat-card-content>
    </mat-card>
  </mat-grid-tile>


  <mat-grid-tile>

    <button mat-raised-button class="full" color="primary" (click)="addNewBoard()">Add new board</button>

  </mat-grid-tile>
</mat-grid-list>